<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>原生js实现vue的双向数据绑定</title>
</head>
<body>
<div id="app">
  <input type="text" v-model="message"> {{message}}
  <br>
  <input type="text" v-model="name"> {{name}}
</div>

<script>
  // 订阅
  class Watcher{
    constructor(vm, node, name){
      Dep.target = this; //实例化的watcher对象
      this.vm = vm
      this.name = name
      this.node = node
      this.update()
      Dep.target = null
    }
    update(){
      this.get()
      // 视图层更新
      this.node.nodeValue = this.value
    }
    get (){
      this.value = this.vm[this.name]
    }
  }
  // 发布者仓库
  class Dep{
    constructor(){
      this.subs = [] //Watcher仓库
    }
    addSub(sub){
      this.subs.push(sub)
    }
    notify(){ //发布
      this.subs.forEach(function (sub) {
        sub.update()
      })
    }
  }

  // 第一步
  class Mue{
    constructor(options){
      this.data = options.data // 传入data
      var data = this.data; // data转存私有化
      var id = options.el  //app

      observe(data, this) //model加工入口

      var dom = nodeToFragment(document.getElementById(id), this)  //view层

      document.getElementById(id).appendChild(dom)
    }
  }
  //属性订阅入口    发布订阅设计模式
  function observe(obj, vm) {
    Object.keys(obj).forEach(function (key) {
      //console.log(vm, key, obj[key])
      defineReactive(vm, key, obj[key])
    })

  }
  // 对象属性反应堆(属性层的处理)

  function defineReactive(obj, key, val) {
    var dep = new Dep() //发布者仓库实例化
    Object.defineProperty(obj, key, {
      get: function () {
        //console.log(`获取数据${val}`)
        if(Dep.target){
          dep.addSub(Dep.target);
        }
        return val;
      },
      set: function (newVal) {
        if(newVal === val) return;
        val = newVal
        console.log(`数据更新${val}`)
        dep.notify(); // set的时候要触发get（反映到view层），才能算双向数据绑定
      }
    })
  }

  //原始node格式化工厂（文档节点片段）
  function nodeToFragment(node, vm) {
    var flag = document.createDocumentFragment(); //文档片段
    var child; //view 主体子元素
    while (child = node.firstChild){
      compile(child, vm)
      flag.append(child);
    }
    return flag
  }

  // DOM编译器
  function compile(node, vm) {
    var reg = /\{\{(.*)\}\}/
    //标签节点  属性过滤
    if(node.nodeType === 1){  //1:标签节点 3：文本节点
      if(node.hasAttribute('v-model')){
        //获取属性值
        var name = node.getAttribute('v-model')
        console.log(name)
        node.addEventListener('input', function (e) {
          //实例化mue的message属性值  设置为 被触发的输入框的值
          vm[name] = e.target.value
        })
      }
      node.value = vm[name]
      node.removeAttribute('v-model')
    }
    //文本节点
    if(node.nodeType === 3){
      if(reg.test(node.nodeValue)){
        var name = RegExp.$1; // {{$1}}
        name = name.trim()  //去除空格
        node.nodeValue = vm[name]
      }
    }
    console.log(node);
    new Watcher(vm, node, name); //订阅入口
  }


  var app = new Mue({
    el: 'app',
    data: {
      message: 'My name is Hanna',
      name: 'Hanna'
    }
  });


  /*var person = {
    name: 'hanna ding',
    age: 20
  }
  test(person)
  function test(obj) {
    var temp = {}
    for(let i in obj){
      // 递归深拷贝
      if(Object.prototype.toString.call(obj[i]) === '[object Object]'){
        test(test(obj[i]))
      }
      temp[i] = obj[i]
      Object.defineProperty(obj, i, {
        get: function () {
          console.log('触发get', temp[i]);
          return temp[i]
        },
        set: function(val){
          console.log(i, '的属性改变', temp[i], '--->', val);
          temp[i] = val
        }
      })
    }
  }*/
</script>
</body>
</html>